@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: rgb(var(--foreground-rgb));
    background: #F2F8FF;
    -webkit-font-smoothing: antialiased;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

input {
    /* Remove default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    /* Reset basic styles */
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 0;

    /* Reset font properties */
    font-family: inherit;
    font-size: inherit;
    color: inherit;

    /* Remove outline */
    outline: none;

    /* Optional: Reset box-sizing */
    box-sizing: border-box;

    /* Optional: Add default width and height */
    width: 100%;
    height: auto;
  }

